* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #040841;
    color: antiquewhite;
    gap: 50px;
}

.calculadora {
    background-color: rgb(232, 208, 255);
    color: #1b1312;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 130PX;
    padding: 1.5rem;
    border-radius: 1rem;    
    gap: 10px;
}
